# See http://help.github.com/ignore-files/ for more about ignoring files.

# Mac OS X
.DS_Store
._.*
._*

# Ignore local editor
.project
.settings
.idea
*.swp
tags
nbproject/*

# Windows
Thumbs.db

npm-debug.log
Application[myTest].js
node_modules/
dist/
src/js/Application\[myTest\].js
src/js/Application\[test\].js
